.delete{
    background-color: rgb(146, 33, 33);
    width: 90%;
    color: white;
}

.see{
    background-color: rgb(28, 65, 28);
    width: 95%;
    color: white;
}

.type{
    background-color: orange;
    width: 80%;
}
