.page{
    align-items: center;
    background-image: url("../../Assets/Backgrounds//BackgroundInicio.png");
    position: absolute;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.container{
    padding-top: 10%;
}

.container p {
    font-size: 50px;
}

.back {
    display: flex;
    height: 3em;
    width: 100px;
    align-items: center;
    justify-content: center;
    background-color: #eeeeee4b;
    border-radius: 3px;
    letter-spacing: 1px;
    transition: all 0.2s linear;
    cursor: pointer;
    border: none;
    background: #afafb4;
    text-decoration: none;
    margin-left: 30px;
   }
   
   .back > svg {
    margin-right: 5px;
    margin-left: 5px;
    font-size: 20px;
    transition: all 0.4s ease-in;
   }
   
   .back:hover > svg {
    font-size: 1.2em;
    transform: translateX(-5px);
   }
   
   .back:hover {
    box-shadow: 9px 9px 33px #d1d1d1, -9px -9px 33px #ffffff;
    transform: translateY(-2px);
   }