.BigCont {
    background-image: url("../../Assets/Backgrounds//BackgroundInicio.png");
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}
.container {
    padding: 2%;
    font-size: 15px;
    text-align: center;
    background-color: #C8E6CA;
    width: center;
    border-radius: 25px;
    margin-top: 10%;
    margin-bottom: 5%; 
    margin-inline: auto;
    max-width: 500px;
  }

.Nav {
    position: fixed;
    top: 0;

}

.Footer { 
    position: fixed;
    bottom: 0;
}

.boton {
    padding: 15px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    margin: 20px auto 5%;
    width: 40%;
    background-color: #f5b2d3;
}

.nombre {
    margin-top: 1%;
    margin-bottom: 2%;
}

.apellido {
    margin-top: 1%;
    margin-bottom: 2%;
    
}

.nacimiento {
    margin-top: 1%;
    margin-bottom: 2%;
}

.dire {
    margin-top: 1%;
    margin-bottom: 2%;

}

.correo {
    margin-top: 1%;
    margin-bottom: 2%;
}

.usuario {
    margin-top: 1%;
    margin-bottom: 2%;
}

.tel {
    margin-top: 1%;
    margin-bottom: 2%;
}

.contraseña {
    margin-top: 1%;
    margin-bottom: 2%;
}

.actualizar {
    padding: 15px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    background-color: #f5b2d3;
    margin-top: 20px;
    margin-bottom: 5%;
    align-items: center;
    width: 40%;
}

.btn {
border: 0;
background: none;    
    
}