.cardData {
  background-color: #c8e6ca;
  padding: 3%;
  height: 100%;
  align-items: center;
}
  
.cardContainer{
  width: 100%;
    height: 100%;
}
.cardContainer :hover{
  transition: transform 0.3s ease-in-out;
  transform: scale(1.05);
  
}
  .cardImage {
    margin-top: 5%;
    width: 80%;
    height: 80%;
    border-radius: 5%;
    border: 3px solid #ffffff;
  }