.card{
  border-radius: 10px;
  width: 80%;
  background-color: #C8E6CA;
  padding: 5%;
  text-decoration: none;
  margin-top: 10%
}

.divCard img{
  height: 200px;
  width: 100%;
  border-radius: 5%;
}

.card:hover{
  transition: transform 0.3s ease-in-out;
  transform: scale(1.05);
   }

.nombre{
  font-size: 30px;
  color: #000000;
}

.edad{
  margin-top: 12px;
  font-size: 20px;
  color: #000000;
}

.info{
  margin-top: 5%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
