/* Estilos para el formulario de registro */
.registerForm {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 30px;
    background-color: #C8E6CA;
  }

  .registerForm h3 {
    margin-top: 4%;
    margin-bottom: 8%;
  }
  
  .registerForm label {
    margin-bottom: 1%;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Alineamos los elementos a la izquierda */
    margin-left: 10px;
  }
  
  .registerForm input[type="text"],
  .registerForm input[type="password"],
  .registerForm input[type="email"] {
    padding: 10px;
    border-radius: 50px;
    margin-top: 10px;
    margin-bottom: 15px;
  }
  
  .registerForm button {
    padding: 15px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    background-color: #FFCBCB;
    margin-top: 20px;
    align-items: center;
    width: 40%;
  }
  
  /* Estilos responsivos */
  @media (max-width: 768px) {
    /* Cuando el ancho de la pantalla es menor o igual a 768px */
    .registerForm button {
      width: 100%; /* Los botones ocuparán todo el ancho disponible */
      margin-right: 0; /* Elimina el margen derecho */
      margin-left: 0; /* Elimina el margen izquierdo */
    }
  }
  
  /* Estilos para los mensajes de error */
  .errorMsg {
    color: red;
    font-size: 12px;
    margin-top: -10px;
    margin-bottom: 10px;
  }