.textBox {
    border-style: double;
    height: 30px;
    width: 300px;
    font-size: 20px;
    font-weight: 200;
    border-radius: 10px;

}
.textBox:active{
    color: #EEB3E7;
}


.button {
    border-style: none;
    display: inline-block;
    background-color: transparent;
    color: #EEB3E7;
    height: 30px;
    font-size: 25px;
    cursor: pointer;
    transition-duration: 0.4s;
    margin-top: 1px;
    margin-left: 10px;
    border-radius: 5px; 
}

.button:hover {
    color:rgb(219, 118, 245);
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .textBox{
        width: 70%;
        height: 20px;
        font-size: 12px;
    }
    .button{
        font-size: 15px;
    }
}

@media screen and (max-width: 450px) {
    .textBox{
        width: 60%;
        height: 15px;
        font-size: 10px;
    }
    .button{
        font-size: 10px;
    }
}