/* Estilos generales */
.createDog {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: white;
    color: #000000;
  }
  
  .titleCG {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  /* Estilos para el formulario */
  .createDogContainer {
    position: relative; /* Agregamos position: relative para que el error sea relativo a este contenedor */
    width: 100%;
    background-color: #eeb3e7;
    display: flex; /* Utilizamos Flexbox para mostrar los campos y errores en una línea */
    flex-wrap: wrap; /* Hacemos que los elementos se ajusten a la línea si no hay suficiente espacio */
    justify-content: center; /* Centramos horizontalmente los elementos */
    align-items: center; /* Centramos verticalmente los elementos */
    border-radius: 5%;
    padding: 30px;
    margin: 20px;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .sectionInputCG {
    display: inline-block;
    margin: 10px 0;
  }
  
  .label {
    display: flex;
    align-items: center;
    padding-right: 50px;
    text-indent: 25px;
  }
  
  .input {
    height: 45px;
    width: 21em;
    max-width: 400px;
    font-size: 15px;
    font-weight: 400;
    color: black;
    background-color: #ffffff;
    border-radius: 15px;
    border: none;
    text-indent: 6px;
    
  }
  .formGroup{
    height: 45px;
    width: 7em;
    /* max-width: 400px; */
    font-size: 15px;
    /* font-weight: 400; */
    color: black;
    background-color: #ffffff;
    border-radius: 15px;
    border: none;
    text-indent: 6px;
    margin: 2px;
  }
  /* Estilos para los inputs cuando están enfocados */
  .input:focus::placeholder {
    color: #000000;
    text-align: center;
    font-size: 16px;
    color: transparent;
  }
  
  
  textarea {
    height: 80px;
    width: 20em;
    max-width: 400px;
    font-size: 15px;
    font-weight: 400;
    color: black;
    background-color: #ffffff;
    border-radius: 10px;
    border: none;
    text-indent: 6px;
  }
  
  textarea:focus::placeholder {
    color: #000000;
    text-align: center;
    font-size: 16px;
    color: transparent;
  }
  
  .customDateInput {
    text-align: center;
  }
  
  /* Estilos para los botones */
  .createBtn {
    font-family: "Tilt Neon", cursive;
    font-size: 20px;
    padding: 12px 24px;
    width: 100%;
    max-width: 400px;
    background-color: #ff69b4;
    color: #ffffff;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 0 2px 25px rgba(140, 255, 0, 0.5);
    transition: all 0.3s;
    margin-top: 20px;
  }
  
  .createBtn.disabled {
    pointer-events: none;
    opacity: 0.6;
  }
  
  .createBtn:hover {
    background-color: #ff1493;
    transform: scale(1.1);
  }
  
  /* Estilos para la tarjeta de mascota */
  .petCard {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .petImage {
    width: 100%;
    height: 300px;
    background-color: #f0f0f0;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .petInfo {
    padding: 20px;
    text-align: center;
  }
  
  .petOptions {
    display: flex;
    justify-content: center;
    width: 80%;
    margin-top: 10px;
  }
  
  .petOption {
    padding: 10px;
    margin: 0 5px;
  }
  
  .selectOptions {
    width: 30%;
    min-width: 150px;
    padding: 10px 16px;
    background-color: #c8ffd456;
    border-radius: 8px;
    font-size: 14px;
    color: #fff;
  }
  
  .optionsAllCGD {
    color: rgb(89, 89, 89);
    background-color: #5b8fb9;
  }
  
  /* Estilos específicos para los campos de fecha */
  #dateCG,
  #releaseDateCG {
    text-align: center;
    color: #808080;
  }
  
  #dateCG::-webkit-datetime-edit-text,
  #releaseDateCG::-webkit-datetime-edit-text,
  #dateCG::-webkit-datetime-edit-month-field {
    color: #808080;
  }
  
  /* Estilos específicos para los errores */
  .errorTextEmail {
    position: absolute;
    color: #000000;
    background-color: #eeb3e7;
    /* font-size: 14px; */
    padding: 8px;
    border-radius: 5px;
    white-space: nowrap;
    top: 50%; /* Colocamos el mensaje de error en la mitad vertical del campo de email */
    right: 100%; /* Lo colocamos a la derecha del campo de email */
    transform: translateY(-238%); /* Lo desplazamos hacia arriba la mitad de su altura */
    margin-right: 10px; /* Añadimos un espacio entre el campo de email y el mensaje de error */
  }
  
  /* Estilo para el borde rojo en campos con error */
.errorBorder {
    border: 2px solid red;
  }
  
  /* Estilos para los errores */
  .emailError {
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .sectionInputCG label[for="email"] {
    display: flex;
    align-items: center;
  }
  /* Estilos para el mensaje de error del campo de email */
  .emailError {
    flex: 1;
    margin-left: 10px;
    position: relative; /* Aseguramos que el mensaje de error del campo de email esté en el flujo normal del documento */
  }
  
  /* .sectionInputCG input[name="email"] {
    margin-right: 10px;
  } */
  
  /* Estilos para hacer responsive el mensaje de error */
  @media screen and (max-width: 600px) {
    .emailError {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .errorTextEmail {
      position: static;
      margin-top: 5px;
      margin-left: 0;
    }
  }

  /* Animación para sacudir el campo */
@keyframes shake {
    0%, 100% {
      transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
      transform: translateX(-5px);
    }
    20%, 40%, 60%, 80% {
      transform: translateX(5px);
    }
  }
  
  /* Clase que activa la animación de sacudir */
  .shakeAnimation {
    animation: shake 0.5s linear;
  }
   
    .errorTextEmail:before, .errorTextEmail:after {
    border-bottom: 20px solid transparent;
    border-top: 20px solid transparent;
    top:-1px;
    content: " ";
    position: absolute;
    display: block;
    width: 0;
    height: 0;   
    }
    .errorTextEmail:after {
    border-left: 16px solid red;
    right: -15px;
    z-index: 2;
    }
    
   .errorTextEmail:before {
    border-left: 16px solid red;
    right: -16px;
    z-index: 1;
    }

/* Estilos para el mensaje de éxito */
.successMessage {
    display: block;
    color: green;
    margin-top: 10px;
  }
  