.fondo {
    background-image: url("../../Assets/Fondos/only\ patitas.png");
    background-position-x: left, right;
    
}

.pagination{
    margin-top: 10%;
}

.activePageButton {
    background-color: #ddacac; /* Cambia el color de fondo al que desees */
    color: #ffffff; /* Cambia el color del texto al que desees */
    /* Agrega cualquier otro estilo adicional que desees para resaltar el botón */
    border-radius: 15px;
  }
  .activePageButton:hover{
    transition: transform 0.1s ease-in-out;
    transform: scale(1.20);
  }


  .pagination button {
    margin-left: 1%;
  }

  .pageButton{
    border-radius: 15px;
  }

  .pageButton:hover{
    transition: transform 0.1s ease-in-out;
    transform: scale(1.20);
  }

  
