.menu{
    width: 20px;
}

.Nav {
    background-color: #FFFDF6;
    margin-bottom: 2%;
}
.columna {
    margin-right: 125px;
}

.fijo {
    width: 100%;
    min-width: 100%; 
    position: fixed;
    background-color: #FFFDF6;
    height: 10%;
    margin-top: 3%;
    margin-right: 125px;
    z-index: 9999;
    
}
 .boton {
    background-color: #C8E6CA;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
 }









